    * {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .container,
    .containEdit {
        margin: auto;
        width: 350px;
        padding: 10px;
        text-align: center;
        border-color: white;
        background-color: lightsalmon;
        border-radius: 10px;
    }
    
    h1 {
        font-weight: 700;
        font-style: oblique;
    }
    
    .forminput {
        outline: none;
        border-radius: 4px;
        padding: 7px;
        margin-top: -30px;
    }
    
    #next {
        background-color: #258f67;
        padding: 10px;
        border: NONE;
        color: white;
        cursor: pointer;
    }
    
    #elt {
        display: flex;
        flex-direction: row;
        padding: 12px;
        justify-content: end;
    }
    
    span {
        font-weight: 700;
        font-style: oblique;
        color: white;
    }
    
    li {
        list-style: none;
    }
    
    .todolist {
        margin-top: 7px;
        padding: 15px;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
    }
    
    .delete {
        padding: 8px;
        border: none;
        background-color: white;
    }
    
    .completed {
        text-decoration: line-through;
    }
    
    .edit {
        border: none;
        background-color: #1e2e23;
        color: white;
        padding: 5px;
    }
    
    .li {
        text-decoration: none;
    }
    /* .edit:hover {
border: none;
background-color: powderblue;
color: white !important;
}
*/
    /*{
        margin: auto;
        width: 400px;
        background-color: lightsalmon;
        text-a.containEdit lign: center;
        padding-top: 20px;
        border-radius: 10px;
    }*/
    
    input {
        outline: none;
    }